Node-Red Dashboard/Sentinel_Home_Node_RedV2.json
[
    {
        "id": "353ff3318499fa2d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74899c983f7aeca7",
        "type": "inject",
        "z": "353ff3318499fa2d",
        "d": true,
        "name": "Test Temperature",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "2bcf3c5f4b39057e"
            ]
        ]
    },
    {
        "id": "04950bb0573369d9",
        "type": "debug",
        "z": "353ff3318499fa2d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "c3924ffcdaeab1d9",
        "type": "http request",
        "z": "353ff3318499fa2d",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "bb475c5d65aa388b",
                "04950bb0573369d9"
            ]
        ]
    },
    {
        "id": "2bcf3c5f4b39057e",
        "type": "function",
        "z": "353ff3318499fa2d",
        "name": "Prepare Supabase Request",
        "func": "msg.method = \"GET\";\n\nmsg.url = \"https://ubcyktzfiylqirzpdqnu.supabase.co/rest/v1/sensor_readings?select=*&order=created_at.desc&limit=1\";\n\nmsg.headers = {\n    \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViY3lrdHpmaXlscWlyenBkcW51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4MDkxNjQsImV4cCI6MjA5NzM4NTE2NH0.Gu0jBFdVnsBMFF2VWliTnoKtBqCt_-IwSQfnoe2ts9c\",\n    \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViY3lrdHpmaXlscWlyenBkcW51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4MDkxNjQsImV4cCI6MjA5NzM4NTE2NH0.Gu0jBFdVnsBMFF2VWliTnoKtBqCt_-IwSQfnoe2ts9c\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 340,
        "wires": [
            [
                "c3924ffcdaeab1d9"
            ]
        ]
    },
    {
        "id": "bb475c5d65aa388b",
        "type": "function",
        "z": "353ff3318499fa2d",
        "name": "Extract Dashboard Values",
        "func": "let latest = msg.payload[0];\n\n// Sensor readings\nlet temperatureMsg = {\n    payload: Number(latest.temperature ?? 0)\n};\n\nlet humidityMsg = {\n    payload: Number(latest.humidity ?? 0)\n};\n\nlet gasMsg = {\n    payload: Number(latest.gas ?? 0)\n};\n\n// Motion status\nlet motionMsg = {\n    payload: latest.motion == 1 || latest.motion === true\n        ? \"Motion Detected\"\n        : \"No Motion\"\n};\n\n// Day / night condition\nlet nightMsg = {\n    payload: latest.is_night == 1 || latest.is_night === true\n        ? \"Night\"\n        : \"Day\"\n};\n\n// Motion duration\nlet durationMsg = {\n    payload: Number(latest.motion_duration_sec ?? 0)\n};\n\n// Alert class mapping\nlet alertName = \"Unknown\";\n\nif (latest.alert_class == 0) {\n    alertName = \"Normal\";\n} else if (latest.alert_class == 1) {\n    alertName = \"Low Alert\";\n} else if (latest.alert_class == 2) {\n    alertName = \"Medium Alert\";\n} else if (latest.alert_class == 3) {\n    alertName = \"High Alert\";\n}\n\nlet alertMsg = {\n    payload: alertName\n};\n\n// Alarm status\nlet alarmMsg = {\n    payload: latest.alarm == 1 || latest.alarm === true\n        ? \"Alarm ON\"\n        : \"Alarm OFF\"\n};\n\n// Reason\nlet reasonMsg = {\n    payload: latest.reason ?? \"No reason\"\n};\n\n// ML inference output\nlet mlClassMsg = {\n    payload: latest.ml_class ?? \"Waiting for ML inference\"\n};\n\nlet mlConfidenceMsg = {\n    payload: latest.ml_confidence == null\n        ? \"Waiting for ML confidence\"\n        : `${latest.ml_confidence}%`\n};\n\n// Return messages to 11 outputs\nreturn [\n    temperatureMsg,      // Output 1 → Temperature Gauge\n    humidityMsg,         // Output 2 → Humidity Gauge\n    gasMsg,              // Output 3 → Gas Gauge\n    motionMsg,           // Output 4 → Motion Text\n    nightMsg,            // Output 5 → Day/Night Text\n    durationMsg,         // Output 6 → Motion Duration Gauge\n    alertMsg,            // Output 7 → Alert Class Text\n    alarmMsg,            // Output 8 → Alarm Status Text\n    reasonMsg,           // Output 9 → Reason Text\n    mlClassMsg,          // Output 10 → ML Class Text\n    mlConfidenceMsg      // Output 11 → ML Confidence Text\n];",
        "outputs": 11,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 500,
        "wires": [
            [
                "7399aa9fa1f3ec44"
            ],
            [
                "18b9edaaf5d59110"
            ],
            [
                "d728c28b4e8903fe"
            ],
            [
                "2fea86b145dde791"
            ],
            [
                "5a134df568200f43"
            ],
            [
                "f041abb72458528c"
            ],
            [
                "cf0c8561a96fa7e0"
            ],
            [
                "9fbe6cdcc98198f0"
            ],
            [
                "7fcf5c8103845aff"
            ],
            [
                "f2f427ed35305878"
            ],
            [
                "12955de379df6c88"
            ]
        ]
    },
    {
        "id": "7399aa9fa1f3ec44",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Temperature ",
        "group": "642f15b22b318426",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "18b9edaaf5d59110",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Humidity ",
        "group": "642f15b22b318426",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "d728c28b4e8903fe",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Gas",
        "group": "642f15b22b318426",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Gas ",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "2fea86b145dde791",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "Motion Text",
        "label": "Motion Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "5a134df568200f43",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Day Night Text",
        "label": "Time Condition",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 620,
        "wires": []
    },
    {
        "id": "f041abb72458528c",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Motion Duration Gauge",
        "group": "642f15b22b318426",
        "order": 4,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Motion Duration",
        "label": "sec",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "cf0c8561a96fa7e0",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Alert Class",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 700,
        "wires": []
    },
    {
        "id": "9fbe6cdcc98198f0",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "7fcf5c8103845aff",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 8,
        "width": "12",
        "height": "1",
        "name": "",
        "label": "Reason",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 780,
        "wires": []
    },
    {
        "id": "f2f427ed35305878",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "cc89f0948713a483",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ML Class",
        "label": "ML Class",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "12955de379df6c88",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "cc89f0948713a483",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ML Confidence",
        "label": "ML Confidence",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 740,
        "wires": []
    },
    {
        "id": "642f15b22b318426",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "e0c2cf242bdbdee2",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc89f0948713a483",
        "type": "ui_group",
        "name": "ML Inference",
        "tab": "e0c2cf242bdbdee2",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0c2cf242bdbdee2",
        "type": "ui_tab",
        "name": "SENTINEL HOME DASHBOARD",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4255d4908aa65124",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]