Node-Red Dashboard/Sentinel_Home_Node_RedV2.json
[
    {
        "id": "353ff3318499fa2d",
        "type": "tab",
        "label": "SentinelHome_NodeRED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "poll_trigger",
        "type": "inject",
        "z": "353ff3318499fa2d",
        "name": "Poll Every 2s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2bcf3c5f4b39057e"
            ]
        ]
    },
    {
        "id": "2bcf3c5f4b39057e",
        "type": "function",
        "z": "353ff3318499fa2d",
        "name": "Prepare Supabase Request",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://ubcyktzfiylqirzpdqnu.supabase.co/rest/v1/sensor_readings?select=*&order=created_at.desc&limit=1\";\nmsg.headers = {\n    \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViY3lrdHpmaXlscWlyenBkcW51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4MDkxNjQsImV4cCI6MjA5NzM4NTE2NH0.Gu0jBFdVnsBMFF2VWliTnoKtBqCt_-IwSQfnoe2ts9c\",\n    \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViY3lrdHpmaXlscWlyenBkcW51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4MDkxNjQsImV4cCI6MjA5NzM4NTE2NH0.Gu0jBFdVnsBMFF2VWliTnoKtBqCt_-IwSQfnoe2ts9c\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "c3924ffcdaeab1d9"
            ]
        ]
    },
    {
        "id": "c3924ffcdaeab1d9",
        "type": "http request",
        "z": "353ff3318499fa2d",
        "name": "Fetch Supabase",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "bb475c5d65aa388b"
            ]
        ]
    },
    {
        "id": "bb475c5d65aa388b",
        "type": "function",
        "z": "353ff3318499fa2d",
        "name": "Extract Dashboard Values",
        "func": "let latest = msg.payload[0];\nif (!latest) return null;\n\nlet now = new Date();\nlet created = new Date(latest.created_at);\nlet ageSec = Math.floor((now - created) / 1000);\n\nlet classLabels = [\"Normal\", \"Comfort Alert\", \"Warning\", \"Danger\"];\nlet classColors = [\"#22c55e\", \"#fbbf24\", \"#f97316\", \"#ef4444\"];\nlet alertClass = latest.alert_class || 0;\n\nlet mlLabels = [\"Normal\", \"Low Alert\", \"Medium Alert\", \"High Alert\"];\nlet mlClass = latest.ml_class !== null ? latest.ml_class : \"--\";\nlet mlConf = latest.ml_confidence !== null ? (latest.ml_confidence * 100).toFixed(1) + \"%\" : \"--\";\n\nlet temperatureMsg = { payload: latest.temperature };\nlet humidityMsg = { payload: latest.humidity };\nlet gasMsg = { payload: latest.gas };\nlet motionMsg = { payload: latest.motion == 1 ? \"Motion Detected\" : \"No Motion\" };\nlet nightMsg = { payload: latest.is_night == 1 ? \"Night\" : \"Day\" };\nlet durationMsg = { payload: latest.motion_duration_sec || 0 };\nlet classMsg = { payload: alertClass + \" \\u2014 \" + classLabels[alertClass], color: classColors[alertClass] };\nlet reasonMsg = { payload: (latest.reason || \"normal\").replace(/_/g, \" \") };\nlet mlClassMsg = { payload: mlClass !== \"--\" ? mlClass + \" \\u2014 \" + mlLabels[mlClass] : \"--\" };\nlet mlConfMsg = { payload: mlConf };\nlet ageMsg = { payload: ageSec + \"s ago\" };\n\nreturn [\n    temperatureMsg,   // 0\n    humidityMsg,      // 1\n    gasMsg,           // 2\n    motionMsg,        // 3\n    nightMsg,         // 4\n    durationMsg,      // 5\n    classMsg,         // 6\n    reasonMsg,        // 7\n    mlClassMsg,       // 8\n    mlConfMsg,        // 9\n    ageMsg            // 10\n];",
        "outputs": 11,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 100,
        "wires": [
            ["7399aa9fa1f3ec44"],
            ["18b9edaaf5d59110"],
            ["d728c28b4e8903fe"],
            ["2fea86b145dde791"],
            ["5a134df568200f43"],
            ["f041abb72458528c"],
            ["alert_class_text"],
            ["reason_text"],
            ["ml_class_text"],
            ["ml_conf_text"],
            ["age_text"]
        ]
    },
    {
        "id": "7399aa9fa1f3ec44",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Temperature",
        "group": "642f15b22b318426",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 40,
        "wires": []
    },
    {
        "id": "18b9edaaf5d59110",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Humidity",
        "group": "642f15b22b318426",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "d728c28b4e8903fe",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Gas",
        "group": "642f15b22b318426",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Gas",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "2fea86b145dde791",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Motion Text",
        "label": "Motion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "5a134df568200f43",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Day Night Text",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "f041abb72458528c",
        "type": "ui_gauge",
        "z": "353ff3318499fa2d",
        "name": "Motion Duration",
        "group": "642f15b22b318426",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Motion Duration",
        "label": "sec",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "alert_class_text",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Alert Class",
        "label": "Alert Class",
        "format": "<span style='color:{{msg.color}}'>{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "reason_text",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Reason",
        "label": "Reason",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "ml_class_text",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "ML Class",
        "label": "ML Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "ml_conf_text",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "ML Confidence",
        "label": "ML Confidence",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "age_text",
        "type": "ui_text",
        "z": "353ff3318499fa2d",
        "group": "642f15b22b318426",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "Data Age",
        "label": "Data Age",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "642f15b22b318426",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "e0c2cf242bdbdee2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0c2cf242bdbdee2",
        "type": "ui_tab",
        "name": "SentinelHome",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]